
      <div  class="card">
        <div id="cImgContainer" class="card-img-container">
          <img [src]="pokemonCard.img" class="card-img-top img-fluid" [alt]="pokemonCard.name">
          <h5 id="titleBehinName" class="card-title-behind">{{pokemonCard.name}}</h5>
        </div>
        <div id="cContent" class="card-content">
          <h5 id="titleName" class="card-title">{{pokemonCard.name}}</h5>
          <p id="textBio" class="card-text">{{pokemonCard.bio}}</p>
          <p id="texType" class="card-text">{{"type" | translate}}: {{pokemonCard.type}}</p>
          <p id="textNumber" class="card-text"><small class="text-muted">{{"number" | translate}}:{{pokemonCard.number}}</small></p>
        </div>
      </div>
