$transition-speed: 0.45s;

@mixin card-content() {
  position: absolute;
  bottom: -180px;
  color: rgb(0, 0, 0);
  backdrop-filter: blur(15px);
  min-height: 140px;
  width: 100%;
  transition: bottom $transition-speed ease-in;
  box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    transition: $transition-speed;
    opacity: 0;
    transform: translateY(30px);
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(30px);
    transition: $transition-speed ease-in-out;
    transition-delay: 0.3s;
    margin-right: 1.3em;
    text-align: center;
  }

}

.card-title-behind {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

@mixin card-flexbox() {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  position: relative;
  overflow: hidden;
  @include card-flexbox();
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(26, 165, 180, 0.5);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(234, 228, 228, 0.5);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    img {
      transform: translateY(-30px) scale(0.4);
    }

    .card-content {
      bottom: 0;
      z-index: 2;

      h5,
      p {
        transform: translateY(0);
        opacity: 1;
      }

      p {
        font-size: 0.9rem;
        margin-left: 0.5em;
      }
    }

    &::before {
      opacity: 1;
    }
  }

  img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    transition: transform $transition-speed ease-in-out;
  }

  .card-content {
    @include card-content();
    z-index: 1;    
  }
}

