<div class="btn-pokemon" [ngSwitch]="selectedLang.value">
    <ng-template ngSwitchCase="es">
        <a href="#planta" class="btn-planta">{{typePlanta}}</a>
        <a href="#electrico" class="btn-planta">{{typeElectrico}}</a>
        <a href="#fuego" class="btn-planta">{{typeFuego}}</a>
        <a href="#siniestro" class="btn-planta">{{typeSiniestro}}</a>
    </ng-template>
    <ng-template ngSwitchCase="en">
        <a href="#planta" class="btn-planta">{{typePlant}}</a>
        <a href="#electrico" class="btn-planta">{{typeElectric}}</a>
        <a href="#fuego" class="btn-planta">{{typeFire}}</a>
        <a href="#siniestro" class="btn-planta">{{typeSinister}}</a>
    </ng-template>
</div>
<span class="form">
    <select class="form-control" #selectedLang (change)="switchLanguage(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
            [selected]="language === translate.currentLang">
            {{ language }}
        </option>
    </select>
</span>
<div class="container-fluid" [ngSwitch]="selectedLang.value">
    <ng-template ngSwitchCase="es">
        <div id="planta">{{typePlanta}}</div>
    </ng-template>
    <ng-template ngSwitchCase="en">
        <div id="planta">{{typePlant}}</div>
    </ng-template>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <ng-template ngSwitchCase="es">
            <app-card *ngFor="let planta of pokemonPlanta" [pokemonCard]="planta"></app-card>
        </ng-template>
        <ng-template ngSwitchCase="en">
            <app-card *ngFor="let plant of pokemonPlant" [pokemonCard]="plant"></app-card>
        </ng-template>
    </div>
    <ng-template ngSwitchCase="es">
        <div id="electrico">{{typeElectrico}}</div>
    </ng-template>
    <ng-template ngSwitchCase="en">
        <div id="electrico">{{typeElectric}}</div>
    </ng-template>

    <div class=" row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <ng-template ngSwitchCase="es">
            <app-card *ngFor="let electrico of pokemonElectrico" [pokemonCard]="electrico"></app-card>
        </ng-template>
        <ng-template ngSwitchCase="en">
            <app-card *ngFor="let electric of pokemonElectric" [pokemonCard]="electric"></app-card>
        </ng-template>
    </div>
    <ng-template ngSwitchCase="es">
        <div id="fuego">{{typeFuego}}</div>
    </ng-template>
    <ng-template ngSwitchCase="en">
        <div id="fuego">{{typeFire}}</div>
    </ng-template>
    <div class=" row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <ng-template ngSwitchCase="es">
            <app-card *ngFor="let fuego of pokemonFuego" [pokemonCard]="fuego"></app-card>
        </ng-template>
        <ng-template ngSwitchCase="en">
            <app-card *ngFor="let fire of pokemonFire" [pokemonCard]="fire"></app-card>
        </ng-template>
    </div>
    <ng-template ngSwitchCase="es">
        <div id="siniestro">{{typeSiniestro}}</div>
    </ng-template>
    <ng-template ngSwitchCase="en">
        <div id="siniestro">{{typeSinister}}</div>
    </ng-template>
    <div class=" row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <ng-template ngSwitchCase="es">
            <app-card *ngFor="let siniestro of pokemonSiniestro" [pokemonCard]="siniestro"></app-card>
        </ng-template>
        <ng-template ngSwitchCase="en">
            <app-card *ngFor="let sinister of pokemonSinister" [pokemonCard]="sinister"></app-card>
        </ng-template>
    </div>
</div>